.icon-about{

    width: 270px;
    height: 120px;
    background-color: $icon-background;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

}

 .icon-about__svg{
     width: 70px;
     height: 70px;
 }