

.portfolio {
    padding-bottom: 94px;
    padding-top: 94px;


    &-header {
    
            display: flex;
            align-items: center;
    
    
    }

    &-list {
            display: flex;
            text-align: center;
            justify-content: center;
            margin-bottom: 50px;
        }
    
     &-li {
            margin-right: 8px;
        }
    
     &-item {
            transform: scale(1);
            transition: transform $transition-duration $timing-function, box-shadow $transition-duration $timing-function, border-radius $transition-duration $timing-function;
        }
    
    &-item:hover,
    &-item:focus {
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
    
            transform: scale(1.1);
        }
    
    
     &-li:last-child {
            margin-right: 0;
        }
}




