.about {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-about {
    display: flex;
    flex-wrap: wrap;
}

.list-about__item{
    width: 270px;
    margin-right: 30px;

    &:last-child {
            margin-right: 0;
        }
}



.list-about__item>h3 {
    font-weight: $weight-main;
    font-size: $size-main;
    line-height: $height-h3;
    letter-spacing: $spacing-main ;
    text-transform: $transform-main;
}

.list-about__item>p {
    font-weight: $weight-p;
    font-size: $size-main;
    line-height: $height-p;
    letter-spacing: $spacing-main;
}

.list-about__title {
    margin-bottom: 10px;
}

.list-about__paragraph {
    color: $paragraph-about-list-color;
}